################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/web/Ortho/Ortho/Client/bin/Debug/net5.0
/web/Ortho/.vs/Ortho
/web/Ortho/Ortho/Client/obj
/web/Ortho/Ortho/Server/bin/Debug/net5.0
/web/Ortho/Ortho/Server/obj
/web/Ortho/Ortho/Shared/bin/Debug/net5.0
/web/Ortho/Ortho/Shared/obj
/web/Ortho/Ortho/BusinessLogic/bin/*
/web/Ortho/Ortho/BusinessLogic/obj/*
