<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  </appSettings>

  <connectionStrings>
    <add name="Test" connectionString="Server=orthosimdb.cn2ifptrz4y8.us-east-1.rds.amazonaws.com;Port=5432;Database=orthoSimulator;User Id=postgres;Password=0rtho$1mdb" providerName="PostgreSQL OLE DB" />
  </connectionStrings>
</configuration>